<ion-view title="{{nomeEvento}}">

  <ion-nav-buttons side="left">
    <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
      <i class="ion-android-arrow-back"></i>
    </a>
  </ion-nav-buttons><!--end left button on navigation bar-->

  <ion-content id="restaurant">

    <!--slider section-->
    <ion-slide-box id="restaurant-slide-box" show-pager="false" active-slide="0">
      <ion-slide class="slide-01" style="background: url('img/topo_padrao.jpg');">
        <div class="content"></div>
      </ion-slide>
    </ion-slide-box><!--end slider section-->

    <div id="restaurant-content">
      <div class="row ">
        <div class="col promotions-header">
          <h1>
            {{nomeEvento}}
          </h1>
        </div>
      </div>

      <md-divider></md-divider>

      <div class="row">
        <div class="col menu-content-detail text-just">
          {{descricaoEvento}}
        </div>
      </div>

      <div class="row">
        <div class="col col-20">
          <md-button class="md-fab md-mini" aria-label="Favoritar">
            <md-icon md-svg-icon="img/icons/favorite.svg" class="color-icon"></md-icon>
          </md-button>
        </div>

      </div>

      <md-divider></md-divider>


      <div class="row">
        <div class="col">
          <md-subheader class="bck-transparent">Informações de Contato</md-subheader>
          <md-list-item class="md-2-line" ng-repeat="phone in dados">

            <md-icon>
              <i class="fa {{phone.options.icon}}"></i>
            </md-icon>


            <div class="md-list-item-text">
              <h3 class="linha-height"> {{ phone.number }} </h3>
            </div>

          </md-list-item>
        </div>
      </div>

      <div class="row">
        <div class="col col-offset-10">
          <a class="md-raised social-button md-button md-default-theme btn-color" href="#" ng-click="navigateTo('app.home')">
            Como Chegar
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col col-offset-10">
          <a class="md-raised social-button md-button md-default-theme btn-color" href="#" ng-click="navigateTo('app.home')">
            Participar
          </a>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
